<ion-content class="login-page">
  <div class="login-container">
    <img src="assets/img/logo.png" alt="Logo" class="logo" />

    <h2>Iniciar Sesión</h2>

    <ion-input
      placeholder="Correo electrónico"
      type="email"
      fill="outline"
      class="custom-input"
    ></ion-input>

    <ion-input
      placeholder="Contraseña"
      type="password"
      fill="outline"
      class="custom-input"
    ></ion-input>

    <ion-button expand="block" class="login-button">
      Ingresar
    </ion-button>
  </div>
</ion-content>
